html{
    background-color: black;
    text-align: center;
}

.one{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: normal;
font-size: 50px;
color: white;
text-align: center;
}

a{
    color: aquamarine;
    font-size: 16px;
}

.two{
    color: white;
    font-family: Verdana;
    font-weight: 300px;
    font-size: 42px;
}

.text{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

/*images/videos*/

.phone{
    padding-top: 10px;
    align-items: center;
}

.camp{
padding: 0 100px;
align-items: center;
}

footer{
    text-align: right;
    color: gray;
}